*{
    padding: 0%;
    margin: 0%;
}
/*texto en titulo*/
.seccion1{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right,gray,white);
    text-align: center;
    
}
/*fondo de pagina*/
body{
    background-color: gray ;
   background: linear-gradient(to left,white,gray);
   display: flex;
   flex-direction: column;

}
/*footer al pie de pagina*/
footer{

        width: auto;
        height: auto;
        border: solid;
        background-color: #0d6efd;
        font-size: 20px;
        
        text-align: center;
        
        
    
}
/*titulo con animacion de aparecer*/
h1{
    animation-duration: 10s;
    animation-name: aparecer;
}
@keyframes aparecer{
    0%{opacity: 0;}
    100%{opacity: 2;}
}
/*formulario de contacto*/
form{
    display: inline-flex;
    flex-direction: column;
    padding: 5px;
}
/*clase boton en formulario*/
.boton{
    background-color: #0d6efd ;
    border-radius: 80px;
    margin: 20px;
    
}
/*modificacion de iconoces de redes sociales*/
img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}