.seccion1{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right,gray,white);
    text-align: center;
}
body{
    background-color: gray ;
   background: linear-gradient(to left,white,gray);
}

    


footer{
    width: auto;
    height: auto;
    border: solid;
    background-color: #0d6efd;
    font-size: 20px;
}

h1{
    animation-duration: 10s;
    animation-name: aparecer;
}
@keyframes aparecer{
    0%{opacity: 0;}
    100%{opacity: 2;}
}
form{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 300px;
    padding-top: 20px;
}
.boton{
    background-color: #0d6efd ;
    border-radius: 80px;
    
}