
.seccion1{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right,gray,white);
    text-align: center;
}
body{
    background-color: gray ;
   background: linear-gradient(to left,white,gray);

}

    


footer{
    

        width: 100%;
        height: auto;
        border: solid;
        background-color: #0d6efd;
        font-size: 20px;
        bottom: 0;
        text-align: center;
    
    
}

h1{
    animation-duration: 10s;
    animation-name: aparecer;
}
@keyframes aparecer{
    0%{opacity: 0;}
    100%{opacity: 2;}
}
form{
    display: inline-flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 350px;

   
}
.boton{
    background-color: #0d6efd ;
    border-radius: 80px;
    margin: 20px;
    
}