
div{color:black;
}

body{

   background-color: gray ;
   background: linear-gradient(to left,white,gray);
    
}

 


img{
    width: 200px;
    height: 400px;
}
h3{
    text-transform: uppercase;
    align-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-align: center;
    background-color: #0d6efd;
    border-radius: 100px;
}
.Formulario{
    display: inline-flex;

    flex-direction: column;
    padding: 50px;
    align-items: center;

}
button{
    border-radius: 150 px;
    background-color: #0d6efd;
    border: solid;

}
h5{
    background-color: #0d6efd;
    border-radius: 100px;
}
footer{
    width: auto;
    height: auto;
    border: solid;
    background-color: #0d6efd;
    font-size: 20px;
}