
div{color:black;
}
/*fondo de pagina*/
body{
   background-color: gray ;
   background: linear-gradient(to left,white,gray);   
}
/*tamaño de imagenes de carrousel de bootstrap*/
img{
    width: 200px;
    height: 400px;
}
/*titulo en carta de bootstrap principal*/
h3{
    text-transform: uppercase;
    align-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-align: center;
    background-color: #0d6efd;
    border-radius: 100px;
}

/*titulo en carta de bootstrap con fondo azul*/
h5{
    background-color: #0d6efd;
    border-radius: 100px;
}
/*footer al pie de pagina*/
footer{
    width: auto;
    height: auto;
    border: solid;
    background-color: #0d6efd;
    font-size: 20px;
    text-align: center;
}
/*titulo en cartas de bootstrap de testimonios*/
.h6{
    text-align: center;
    color: black;
    font-size: 40px;
    
}
/*modificacion de iconoces de redes sociales*/
.img1{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}