h1{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
div{color:rgb(16, 218, 33);
}
.colorRed{
    background-color: red;
}

body{

    background-image: url(https://www.gruasyaparejos.com/wp-content/uploads/2019/05/maquinas-viales.jpg);
    background-size : cover;
    background-position: top;
}

ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: solid;
    background-color: grey;
    font-size: 30px;
    list-style: none;
    font-size:0 /* truco por el uso de inline-block*/
    
    
 }
 li {
     display: flex;
     
     flex-direction: row;
    display: inline-block;
    width: 15%;
    position:relative;
    font-size: 25px;
    padding: 10px;
    
 }
 ul ul {
    position: absolute;
    display: none;
 }
 ul ul li {
    display: block;
 }
 ul li:hover ul {
    display:block;
 }
 
a{
    text-decoration: none;
    font-weight: 100;
    border-style: groove;
}
table{
    border: solid;
    font-size: 20px;
    background-color: gray;
    padding: 10px;
    margin:10px;
    white-space: pre-line;
    height: 25%;
    width: 500px;
}
table,tr{
display: flex;
justify-content: center;
flex-direction: block;
justify-content: space-between;
border: solid ;

}