/*fondo de pagina*/
body{
    background-color: gray ;
   background: linear-gradient(to left,white,gray);
}
/*footer al pie de pagina*/
footer{
    width: auto;
    height: auto;
    border: solid;
    background-color: #0d6efd;
    font-size: 20px;
    text-align: center;
}
