*{
    margin: 0;
    padding: 0;
}
.grid1{
    display: grid;
    grid-area: 
    "h1 h1"
    "main div"
    "main div"
    "main div"
    "main div"
    "section img"
    "section iframe";
    

    
    color:red;
    background-color: grey;
    font-size: 20px;
    font-style: oblique;
    
}

.red{color:red;}
.fondo{
    
    border: double black;
    font-size: 20px;
    width: 150px;
    height: 450px;
}
.gridventas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: solid red;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    padding: 20px;
    gap: 1em;
}
img{
    width: 450px;
    height: 340px;
}
@media only screen and(min-width:1021px){
    grid1{
        background-color: blueviolet;
    }

}
@media only screen and(min-width:768px)
{
    grid1{
        background-color: aqua;
        font-size: medium;
        font-family: 'Times New Roman', Times, serif;
    }
}
